p.ri{
	font-size: 25px;
	padding-top: 10px;
	padding-left: 50px;
}

h3.tondre{
	color: skyblue;
}

div#content div.qepi{
	padding-left: 300px;
	padding-top: 60px;
}
h1.tondre{
	color: darkblue;
	padding-left: 120px;
}

h1.rosier{
		color: darkred;
	padding-left: 80px;
}
h1.rotofil{
	color: darkblue;
}
h1.rotofill{
	color: darkblue;
	padding-left: 30px;
}
body{
	background-color: #03FE42;
}
h1.haie{
	color: darkblue;
	padding-left: 90px;
}
